BasedOnStyle: Microsoft

IndentAccessModifiers: false
AccessModifierOffset: -4
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
IndentExternBlock: NoIndent
BraceWrapping:
  AfterExternBlock: false
SeparateDefinitionBlocks: Always
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
