# Platform configuration
CONFIG_IDF_TARGET="esp32"
CONFIG_FRI3D_BADGE_OCTOPUS=y

# TODO: we might want to make this build type dependent
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Convenience for development
# CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
# CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y

# Increase stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10000
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=10000

# LVGL specific
CONFIG_LV_OS_PTHREAD=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_fri3d_badge_2024_v1.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_fri3d_badge_2024_v1.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y