# Platform configuration
CONFIG_IDF_TARGET="esp32"
CONFIG_FRI3D_BADGE_OCTOPUS=y

# TODO: we might want to make this build type dependent
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Convenience for development
# CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
# CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y

# Increase stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10000
