# Platform configuration
CONFIG_IDF_TARGET="esp32"
CONFIG_FRI3D_BADGE_OCTOPUS=y

# Convenience for development
# CONFIG_FRI3D_LOG_DEBUG=y
# CONFIG_FRI3D_LOG_VERBOSE=y
# CONFIG_LV_USE_LOG=y
# CONFIG_LV_LOG_LEVEL_INFO=y
# CONFIG_COMPILER_OPTIMIZATION_DEBUG=y

# Temporary disable buzzer
CONFIG_FRI3D_BUZZER=n
