# Platform configuration
CONFIG_IDF_TARGET="esp32s3"
CONFIG_FRI3D_BADGE_FOX=y
CONFIG_FRI3D_ADC=y
CONFIG_FRI3D_JOYSTICK=y

# TODO: we might want to make this build type dependent
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Convenience for development
# CONFIG_FRI3D_LOG_DEBUG=y
# CONFIG_FRI3D_LOG_VERBOSE=y

# Increase stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10000
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=10000

# LVGL specific
CONFIG_LV_OS_PTHREAD=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y

CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_SPEED=80
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
