menu "Fri3d Firmware"
    choice FRI3D_BADGE
        prompt "Fri3d Badge"
        default FRI3D_BADGE_FOX
        help
            Select the badge you are building the firmware for.

        config FRI3D_BADGE_FOX
            bool "Fox (2024)"

        config FRI3D_BADGE_OCTOPUS
            bool "Octopus (2022)"

    endchoice

    choice FRI3D_LOG
        prompt "Fri3d components debug level"
        default FRI3D_LOG_INFO
        help
            Increase the debug output level for Fri3d components

        config FRI3D_LOG_INFO
            bool "Info"

        config FRI3D_LOG_DEBUG
            bool "Debug"

        config FRI3D_LOG_VERBOSE
            bool "Verbose"

    endchoice

endmenu
