CONFIG_LV_OS_PTHREAD=y

# If you don't use this LVGL will reserve a 64k static block of memory on the stack, which you probably don't want
CONFIG_LV_USE_CLIB_MALLOC=y

# We don't need examples to be built
CONFIG_LV_BUILD_EXAMPLES=n

# Use Printf to output log (if enabled)
CONFIG_LV_LOG_PRINTF=y

# Who doesn't want to format floats?
CONFIG_LV_USE_CLIB_SPRINTF=y

# Fonts are memory-hogs, don't enable too many!
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=n
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_12=y
